* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #355070;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #355070;
    padding: 24px;
}

.logo {
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 24px;
}

.bio-hero {
    background-color: #eadc8b;
    padding: 32px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.bio-hero h1 {
    color: #6d597a;
    margin-bottom: 16px;
}

.card-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card {
    flex-basis: 100%;
    background-color: #b56576;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #ccc;
}

.card:hover {
    background-color: #e56b6f;
    box-shadow: 0 4px 10px #aaa;
}

footer {
    background-color: #6d597a;
    color: white;
    text-align: center;
    padding: 24px;
    margin-top: 24px;
}

@media (min-width: 768px) {

    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 0;
    }

    .nav-links {
        flex-direction: row;
    }

    .card-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        flex-basis: 30%;
    }
}